<div class="row">


    <div ng-show="cargando"  class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <h3>Control de Ordenes   </h3>

        <i ng-show="cargando==true" class="fa fa-cog fa-spin fa-5x fa-fw"></i>
    </div>

    <div ng-show="!cargando" class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">

                    <div class="col-lg-6" style="padding-left: 0px">
                        <div class="form-group has-success has-feedback">
                            <label>Filtro por Contenido</label>
                             <input type="text" ng-model="filtromaterial"class="form-control" id="exampleInputAmount" placeholder=" Barra Maquina / Barra Orden /Nombre / N° Parte / Descripción">
                        </div>
                    </div>

                </div>
            </div>

            <div class="x_content" style="height: 600px;min-height: 600px;overflow: auto">

                <table class="table">
                    <thead>
                    <tr>
                        <th><a ng-click="sortBy('fing')">Fecha Ingreso<i class="fa fa-sort" aria-hidden="true"></i> </a> </th>
                        <th><a ng-click="sortBy('fclose')">Fecha Cierre<i class="fa fa-sort" aria-hidden="true"></i> </a> </th>

                        <th><a ng-click="sortBy('maquina')">Nombre <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>
                        <th><a ng-click="sortBy('pn')"> Numero de Parte <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('maquina_barra')"> Codigo de Barra Maquina <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('numero')"> Numero de Orden <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('pn')"> Cliente <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{ order.fing }}</td>
                        <td>{{ order.fclose }}</td>
                        <td>{{ order.maquina }}</td>
                        <td>{{ order.prod_pn }}</td>
                        <td>{{ order.maquina_barra }}</td>
                        <td>{{ order.numero }}</td>
                        <td>{{ order.cuno }}</td>
                        <td style="text-align: right">
                            <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="showOrder(order)" ><i class="fa fa-search-plus fa-2x"></i> </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <ul uib-pagination  total-items="rowMateriales" previous-text="Anterior" next-text="Siguiente"  items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
                </div>
            </div>
        </div>
    </div>
</div>