<div class="row" ng-keydown="down($event)">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <h3 ng-show="!checkingOrden && ordenValid">Orden Numero: {{newNumOrder}}</h3>
        <h3 ng-show="!checkingOrden && !ordenValid">{{ errorMsg}}</h3>
    </div>


    <div ng-show="!checkingOrden && ordenValid" class="col-md-12 col-sm-12 col-xs-12 karcher-menu-steps">
        <button class="glyphicon glyphicon-list-alt step-icon"  ng-click="step=0" ng-class="{'step-icon-active':step==0}" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-barcode step-icon"   ng-click="step=1"  ng-class="{'step-icon-active':step==1}" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-user step-icon"      ng-click="step=2"  ng-class="{'step-icon-active':step==2}" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-paperclip step-icon" ng-click="step=3" ng-class="{'step-icon-active':step==3}" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-info-sign step-icon" ng-click="step=4" ng-class="{'step-icon-active':step==4}"aria-hidden="true"></button>
    </div>

    <div ng-show="!checkingOrden && ordenValid" class="col-md-12" style="padding-top: 20px">
        <!-- FIRST STEP -->
        <div ng-show="step==0">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <fieldset class="form-horizontal">

                    <div class="form-group has-success has-feedback">
                        <label for="date" class="col-sm-3 control-label label-form">Fecha Ingreso:</label>
                        <div class="col-sm-7">
                            <input disabled ng-model="date" class="form-control" id="date">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="rec" class="col-sm-3 control-label label-form">Tipo Orden:</label>
                        <div class="col-sm-7">
                        <select  class="form-control" ng-disabled="user_level==6" name="typematerial" id="mySelect"
                                 ng-options="type.name for type in orderType track by type.id"
                                 ng-model="ordertype"></select>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="rec" class="col-sm-3 control-label label-form">Recibido por:</label>
                        <div class="col-sm-7">
                            <input id="rec" disabled ng-model="userName" class="form-control">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="dist" class="col-sm-3 control-label label-form">Centro de atencion:</label>
                        <div class="col-sm-7">
                        <input id="dist" disabled ng-model="distName" class="form-control">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- SECOND STEP -->
        <div ng-show="step==1">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <fieldset class="form-horizontal">

                    <div class="form-group has-success has-feedback">
                        <label for="barra" class="col-sm-3 control-label label-form">Codigo de Barra:</label>
                        <div class="col-sm-7">
                            <input ng-model="barra" my-enter="checkBarra()" class="form-control" id="barra">
                        </div>
                    </div>
                    <div class="form-group has-success has-feedback ">
                        <label for="parte" class="col-sm-3 control-label label-form">Numero de Parte:</label>
                        <div class="col-sm-7">
                            <input ng-model="parte" class="form-control" id="parte">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="modelo" class="col-sm-3 control-label label-form">Modelo:</label>
                        <div class="col-sm-7">
                            <input  ng-model="modelo" class="form-control" id="modelo">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="serie" class="col-sm-3 control-label label-form">Numero de Serie:</label>
                        <div class="col-sm-7">
                            <input  ng-model="serie" class="form-control" id="serie">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- THIRD STEP -->
        <div ng-show="step==2">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <fieldset class="form-horizontal">

                    <div class="form-group has-success has-feedback">
                        <label for="cliente" class="col-sm-3 control-label label-form">Nombre Cliente:</label>
                        <div class="col-sm-5">
                            <input ng-model="cliente" class="form-control" id="cliente">
                        </div>
                        <div class="col-sm-2">
                            <button type="button"  ng-click="findClient()" class="btn-karcher-sm" style="height: 32px!important;" >BUSCAR</button>
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback ">
                        <label for="cont" class="col-sm-3 control-label label-form">Persona Contacto:</label>
                        <div class="col-sm-7">
                            <input ng-model="contacto" class="form-control" id="cont">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="tel" class="col-sm-3 control-label label-form">Telefono:</label>
                        <div class="col-sm-7">
                            <input  ng-model="phone"   class="form-control" id="tel">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="tel1" class="col-sm-3 control-label label-form">Celular:</label>
                        <div class="col-sm-2">
                            <input  ng-model=""   class="form-control" id="tel1">
                        </div>
                        <div class="col-sm-5">
                            <input  ng-model="phone1"   ui-mask="+15" ui-mask-placeholder="" ui-mask-placeholder-char="_"  class="form-control" id="tel2">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="mail" class="col-sm-3 control-label label-form">E-Mail:</label>
                        <div class="col-sm-7">
                            <input  ng-model="mail" class="form-control" id="mail">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- FOURT STEP -->
        <div ng-show="step==3">
            <div class="col-md-6">
                <fieldset class="form-horizontal">

                    <div class="form-group has-success has-feedback">
                        <label for="acc1" class="col-sm-3 control-label label-form">Accesorio 1:</label>
                        <div class="col-sm-7">
                            <input ng-model="acc1" class="form-control" id="acc1">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback ">
                        <label for="acc2" class="col-sm-3 control-label label-form">Accesorio 2:</label>
                        <div class="col-sm-7">
                            <input ng-model="acc2" class="form-control" id="acc2">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="acc3" class="col-sm-3 control-label label-form">Accesorio 3:</label>
                        <div class="col-sm-7">
                            <input  ng-model="acc3" class="form-control" id="acc3">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="acc4" class="col-sm-3 control-label label-form">Accesorio 4:</label>
                        <div class="col-sm-7">
                            <input  ng-model="acc4" class="form-control" id="acc4">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="form-horizontal">

                    <div class="form-group has-success has-feedback">
                        <label for="acc5" class="col-sm-3 control-label label-form">Accesorio 5:</label>
                        <div class="col-sm-7">
                            <input ng-model="acc5" class="form-control" id="acc5">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback ">
                        <label for="acc6" class="col-sm-3 control-label label-form">Accesorio 6:</label>
                        <div class="col-sm-7">
                            <input ng-model="acc6" class="form-control" id="acc6">
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="acc7" class="col-sm-3 control-label label-form">Accesorio 7:</label>
                        <div class="col-sm-7">
                            <input  ng-model="acc7" class="form-control" id="acc7">
                        </div>
                    </div>


                    <div class="form-group has-success has-feedback">
                        <label for="acc8" class="col-sm-3 control-label label-form">Accesorio 8:</label>
                        <div class="col-sm-7">
                            <input  ng-model="acc8" class="form-control" id="acc8">
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        <!-- LAST STEP -->
        <div ng-show="step==4">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <fieldset class="form-horizontal">


                    <div class="form-group has-success has-feedback">
                        <label for="pri" class="col-sm-3 control-label label-form">Prioridad Cliente:</label>
                        <div class="col-sm-7">
                            <select  class="form-control" name="typematerial" id="pri"
                                     ng-options="pri.name for pri in orderPriori track by pri.id"
                                     ng-model="orderpri"></select>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label for="user" ng-show="user_level!=6" class="col-sm-3 control-label label-form">Tecnico Asignado:</label>
                        <label for="user" ng-show="user_level==6" class="col-sm-3 control-label label-form">Vendedor Asignado:</label>

                        <div class="col-sm-3">
                            <select  class="form-control" ng-disabled="user_level==6" name="typematerial" id="user"
                                     ng-change="changeTec()"
                                     ng-options="user.name for user in orderUsersDist track by user.id"
                                     ng-model="ordertec"></select>
                        </div>
                        <label for="est" class="col-sm-1 control-label label-form">Estado:</label>
                        <div class="col-sm-3" style="width: 23%!important;">
                            <select  class="form-control" ng-disabled="ordertec.id==0" name="typematerial" id="est"
                                     ng-options="est.name for est in orderEstados track by est.id"
                                     ng-model="orderest"></select>
                        </div>
                    </div>
                    <div class="form-group has-success has-feedback">
                        <label for="obs" class="col-sm-3 control-label label-form">Observaciones:</label>
                        <div class="col-sm-7">
                            <textarea rows="3" id="obs"  ng-model="obs" class="form-control"></textarea>
                        </div>
                    </div>


                </fieldset>
            </div>
            <div class="col-md-2"></div>
        </div>



        <div class="col-md-12 karcher-menu-steps-order" style="text-align: center">
            <button type="button"  ng-click="backStep()" class="btn-karcher-sm" >ATRAS</button>
            <button type="button"  ng-click="save()" ng-show="step==4"   class="btn-karcher-sm" >GUARDAR</button>

            <button type="button" ng-click="nextStep()"  class="btn-karcher-sm" >SIGUIENTE</button>

        </div>
    </div>
</div>