<div class="row">


    <div ng-show="cargando"  class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <h3>Control de Ordenes   </h3>
        <i ng-show="cargando==true" class="fa fa-cog fa-spin fa-5x fa-fw"></i>
    </div>

    <div ng-show="!cargando" class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">

                    <div class="col-lg-3" style="padding-left: 0px">
                        <div class="form-group has-success has-feedback">
                            <label>Filtro por :</label>
                            <select  class="form-control"  name="typematerial" id="est"
                                     ng-options="fil.name for fil in filters track by fil.id"
                                     ng-model="filtersSelected"></select>
                        </div>
                    </div>

                    <div class="col-lg-3" ng-show="filtersSelected.id==0" style="padding-left: 0px">
                        <div class="form-group has-success has-feedback">
                        <label>Estados:</label>
                        <select  class="form-control"  name="typematerial" id="est"
                                 ng-change="filterBy('estado')"
                                 ng-options="est.name for est in orderEstados track by est.id"
                                 ng-model="orderest"></select>
                        </div>
                    </div>
                    <div class="col-lg-3"  ng-show="filtersSelected.id==2">
                        <div class="form-group has-success has-feedback">
                            <label>Prioridades:</label>
                            <select  class="form-control"
                                     ng-change="filterBy('pri')"
                                     name="typematerial" id="pri"
                                     ng-options="pri.name for pri in orderPriori track by pri.id"
                                     ng-model="orderpri"></select>
                        </div>
                    </div>

                    <div class="col-lg-3"  ng-show="filtersSelected.id==1">
                        <div class="form-group has-success has-feedback">
                            <label>Tipos:</label>
                            <select  class="form-control"
                                     ng-change="filterBy('tipo')"
                                     name="typematerial" id="mySelect"
                                     ng-options="type.name for type in orderType track by type.id"
                                     ng-model="ordertype"></select>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group has-success has-feedback">
                            <label>Filtro por Contenido</label>
                             <input type="text" ng-model="filtromaterial"class="form-control" id="exampleInputAmount" placeholder=" Barra Orden / Numero / Fecha / Tecnico / Maquina">
                        </div>
                    </div>

                    <div class="col-lg-1" style="text-align: right">
                        <button  type="button" ng-click="exportar('control_ordenes')" class="btn-karcher-sm pull-right"  style="margin-top: 15px">EXPORTAR</button>
                    </div>

                </div>
            </div>

            <div class="x_content" style="height: 600px;min-height: 600px;overflow: auto">

                <table class="table">
                    <thead>
                    <tr>
                        <th><a ng-click="sortBy('numero')">NUMERO <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>

                        <th><a ng-click="sortBy('fing')">Fecha Inicio <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>
                        <th><a ng-click="sortBy('fclose')">Fecha Fin <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>

                        <th><a ng-click="sortBy('estd')"> Estado <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('tecnico_name')"> Tecnico <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('cuno')"> Cliente <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('prod_pn')">Maquina <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('prd')"> Prioridad <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('tipo')"> Tipo <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ord in orders | orderBy:propertyName:reverse">
                        <td>{{ ord.numero }}</td>
                        <td>{{ ord.fing }}</td>
                        <td>{{ ord.fclose }}</td>
                        <td ng-show="ord.estd==0">PENDIENTE</td>
                        <td ng-show="ord.estd==1">PROCESO</td>
                        <td ng-show="ord.estd==2">CERRADA</td>
                        <td>{{ord.tecnico_name}}</td>
                        <td>{{ ord.cuno }}</td>
                        <td>{{ ord.prod_pn }} - {{ord.maquina | limitTo : 12 : 0}}</td>


                        <td ng-show="ord.prd==1">BAJA</td>
                        <td ng-show="ord.prd==2">MEDIA</td>
                        <td ng-show="ord.prd==3">ALTA</td>

                        <td ng-show="ord.tipo==1">Garantía</td>
                        <td ng-show="ord.tipo==2">Reparación</td>
                        <td ng-show="ord.tipo==3">Presupuesto</td>
                        <td ng-show="ord.tipo==4">Pre-Entrega</td>


                        <td style="text-align: right">
                            <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="edit(ord)" ><i class="fa fa-edit fa-2x"></i> </a>
                            <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="showBarCode(ord.numero)" ><i class="fa fa-barcode fa-2x" aria-hidden="true"></i>
                                <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="showOrder(ord)" ><i class="fa fa-search-plus fa-2x"></i> </a>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <ul uib-pagination  total-items="rowOrders" previous-text="Anterior" next-text="Siguiente"  items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
                </div>
            </div>

            <div class="x_content" style="display:none" id="exportable">

                <table class="table">
                    <thead>
                    <tr>
                        <th><a ng-click="sortBy('numero')">NUMERO <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>

                        <th><a ng-click="sortBy('fing')">Fecha Inicio <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>
                        <th><a ng-click="sortBy('fclose')">Fecha Fin <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>

                        <th><a ng-click="sortBy('estd')"> Estado <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('tecnico_name')"> Tecnico <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('cuno')"> Cliente <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('prod_pn')">Maquina <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('prd')"> Prioridad <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('tipo')"> Tipo <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ord in orders_ori | orderBy:propertyName:reverse">
                        <td>{{ ord.numero }}</td>
                        <td>{{ ord.fing }}</td>
                        <td>{{ ord.fclose }}</td>
                        <td ng-if="ord.estd==0">PENDIENTE</td>
                        <td ng-if="ord.estd==1">PROCESO</td>
                        <td ng-if="ord.estd==2">CERRADA</td>
                        <td>{{ord.tecnico_name}}</td>
                        <td>{{ ord.cuno }}</td>
                        <td>{{ ord.prod_pn }} - {{ord.maquina | limitTo : 12 : 0}}</td>


                        <td ng-if="ord.prd==1">BAJA</td>
                        <td ng-if="ord.prd==2">MEDIA</td>
                        <td ng-if="ord.prd==3">ALTA</td>

                        <td ng-if="ord.tipo==1">Garantía</td>
                        <td ng-if="ord.tipo==2">Reparación</td>
                        <td ng-if="ord.tipo==3">Presupuesto</td>
                        <td ng-if="ord.tipo==4">Pre-Entrega</td>


                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>