<div class="row">


    <div ng-show="cargando"  class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <h3>Cargando Maquinas   </h3>

        <i ng-show="cargando==true" class="fa fa-cog fa-spin fa-5x fa-fw"></i>
    </div>

    <div ng-show="!cargando" class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">

                    <div class="col-lg-10" style="text-align: left;padding-left: 0px">
                        <div class="form-group ">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group col-lg-8 ">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input type="text" ng-model="filtro"class="form-control" id="exampleInputAmount" placeholder=" Nombre /Numero de Serie / Numero de Parte / Descripcion">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">    <div class="clearfix"><button  ng-click="new(null,'material_karcher_form.html','ModelNewMaterialCtrl')" class="btn-karcher-sm pull-right">NUEVA</button></div>
                    </div>
                </div>


            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th><a ng-click="sortBy('name')">Nombre <i class="fa fa-sort" aria-hidden="true"></i> </a> </th>
                        <th><a ng-click="sortBy('pn')"> Numero de Parte <i class="fa fa-sort" aria-hidden="true"></i> </a></th>


                        <th><a ng-click="sortBy('descript')">Descripción <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('type')"> Grupo <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('model')"> Modelo <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="material in materiales  | orderBy:propertyName:reverse">
                        <td>{{ material.name }}</td>
                        <td >{{ material.pn }}</td>

                        <td>{{ material.descript }}</td>
                        <td>{{ material.type }}</td>
                        <td>{{ material.model }}</td>


                        <td style="text-align: right">
                            <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="new(material,'material_karcher_form.html','ModelNewMaterialCtrl')" ><i class="fa fa-edit fa-2x"></i> </a>
                            <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="deleteMaterial(material.id)" ><i class="fa fa-remove fa-2x"></i> </a>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <ul uib-pagination  total-items="rowMaquinas" previous-text="Anterior" next-text="Siguiente"  items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
                </div>

            </div>
        </div>
    </div>
</div>


