{% block stylesheets %}
{% endblock %}
{% block body %}
    <br/>
        <h3>Alerta de Stock</h3>
        <h4>Se ha alcanzado el limite mínimo para el material:</h4>
        <label>{{ id }} - {{ name }} - {{ descript }}</label>
        <h4>Valor actual en stock: {{ stock }} </h4>
    <h4>Gracias.</h4>
{% endblock %}
