<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12">

  <div class="row">
   <div class="col-md-8">
    <h2>Novedades</h2>
   </div>

    <div class="col-md-2" style="margin-top: 2px">
     <a href="https://play.google.com/store/apps/details?id=karcher.fonoempresa.com&hl=es" style="margin-top: 5px">
      <div class="icon-android"></div>
     </a>
    </div>

   <div class="col-md-2" style="margin-top: 2px">
    <a href=""  style="margin-top: 5px">
     <div class="icon-ios"></div>
    </a>
   </div>

  </div>


  <table class="table">
   <thead>
   <tr>
    <th>Fecha </th>
    <th>Origen</th>
    <th>Asunto</th>
    <th>Mensaje</th>
    <th></th>
   </tr>
   </thead>
   <tbody>
   <tr ng-repeat="men in mensajes">

    <td class="col-md-4">{{ men.date | date   }} </td>
    <td class="col-md-2">{{ men.origen  }} </td>
    <td class="col-md-3">{{ men.asunto }} </td>
    <td class="col-md-4">{{ men.mensaje | limitTo: 20}} </td>
    <td>
     <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="showMensaje(men)" ><i class="fa fa-search-plus fa-2x"></i> </a>
    </td>
   </tr>
   </tbody>
  </table>
  <div class="row">
   <ul uib-pagination  total-items="rowMessages" previous-text="Anterior" next-text="Siguiente"  items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
  </div>

   <div class="row">
     <a target="_self" class="help-icon"  download="DocTec-GuiaUsuario_PostVenta-Latam-Karcher.pdf" href="../bundles/karcher/doc/DocTec-GuiaUsuario_PostVenta-Latam-Karcher.pdf" style="text-decoration: none;"> <i class="fa fa-question-circle fa-1x"></i> Manual de Usuario</a>
   </div>
 </div>
</div>


