<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12">

  <h2>Novedades</h2>

  <table class="table">
   <thead>
   <tr>
    <th>Fecha </th>
    <th>Origen</th>
    <th>Asunto</th>
    <th>Mensaje</th>
    <th></th>
   </tr>
   </thead>
   <tbody>
   <tr ng-repeat="men in mensajes">

    <td class="col-md-4">{{ men.date | date   }} </td>
    <td class="col-md-2">{{ men.origen  }} </td>
    <td class="col-md-3">{{ men.asunto }} </td>
    <td class="col-md-4">{{ men.mensaje | limitTo: 20}} </td>
    <td>
     <a  class="btn btn-sm  btn-karcher-sm-table" ng-click="showMensaje(men)" ><i class="fa fa-search-plus fa-2x"></i> </a>
    </td>
   </tr>
   </tbody>
  </table>




 </div>

</div>


